body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container, .auth-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.logout {
    width: 100%;
    display: flex;
    justify-content: right;
}

.oboudno {
    text-decoration: none;
    background-color: #E3CECB;
    border-width: 1px;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    color: rgb(0, 0, 0);
    border-width: 1px;
}

.messages {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    
}

button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    background-color: #E3CECB;
    color: white;
    cursor: pointer;
    border-color: black;
    border-style: solid;
    color: rgb(0, 0, 0);
    border-width: 1px;
}

button[type="submit"]:hover {
    background-color: #E3CECB;
    border-color: black;
    border-style: solid;
    color: rgb(0, 0, 0);
    border-width: 1px;
}

.arrow-down-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E3CECB;
    color: white;
    cursor: pointer;
    border-color: black;
    border-style: solid;
    color: rgb(0, 0, 0);
    border-width: 1px;
}

.arrow-down-button:hover {
    background-color: #E3CECB;
    border-color: black;
    border-style: solid;
    color: rgb(0, 0, 0);
    border-width: 1px;
}

.auth-container h2 {
    margin-bottom: 20px;
}

.auth-container a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #E3CECB;
    text-decoration: none;
}


.auth-container a:hover {
    text-decoration: underline;
}

.chats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chats h2 {
    margin-bottom: 20px;
}

.chats ul {
    list-style-type: none;
    padding: 0;
}

.chats ul li {
    margin-bottom: 10px;
}

.chats ul li a {
    text-decoration: none;
    color: #000000;
}

.chats ul li a:hover {
    text-decoration: underline;
}

.chats form {
    display: flex;
    align-items: center;
}

.chats form input {
    margin-right: 10px;
}

button {
    border-color: black;
    border-style: solid;
    color: rgb(0, 0, 0);
    border-width: 1px;
}